* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /* background-color: #C1B5AD; */
  background-color: coral;
}

body,
html {
  margin: 0;
  padding: 0;
}

.nav-bar {
  background-color: aliceblue;
  position: absolute;
  top: 0px;
  margin: 0px;
  width: 100vw;
}

.nav-bar h2 {
  font-weight: 100;
  font-family: "Lobster", Sans-serif;
}

.mapMarker {
  height: 30px;
  width: 32px;
  background-image: url(http://i.imgur.com/WbMOfMl.png);
}

#map {
  height: 100vh;
  width: 100vw;
}
